@import "../../styleVariables/Variables.scss";

.rightPanel {
  background-color: $whiteColor;
  border-radius: 10px;
  border: 1px solid $grayColor;
  padding: 10px 0;

  h3 {
    padding: 10px;
    margin-bottom: 10px;
  }

  .chat {
    // border-bottom: 1px solid $grayColor;
  }

  .chatRooms {
    margin-bottom: 7px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 25px;
    padding: 7px 10px;
    border: none;
    border-radius: 20px;
    margin: 0 10px 10px 10px;

    .roomDesc {
      color: gray;
      font-size: 0.8rem;
      font-weight: 200;
    }
  }

  .chatRooms:hover {
    text-decoration: underline;
    background-color: $lightGrayColor;
  }

  .roomLinks {
    text-decoration: none;
    color: inherit;
  }
}

.rightPanelOuter {
  flex: 3.5;

}

.otherLinks {
  margin-top: 5px;
  color: #4e4e4e;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 20px;

  p {
    margin-bottom: 5px;
  }
  
  a {
    font-weight: 200;
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .brand {
    font-weight: 700;
    color: $blackColor;

    img {
      position: relative;
      top: 4px;
      margin-right: 3px;
      width: 17px;
    }

    span {
      color: $blueColor
    }
  }
}
