div h2 {
  font-size: 1.5rem;
}

.leftPanel {
  background-color: #fff;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  border-radius: 10px;
  border: 1px solid #d5d5d5;
  padding: 0;
  height: 70%;
}

.leftPanel .userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5d5d5;
}

.leftPanel .userinfo .userBanner {
  height: 50px;
  width: 100%;
  background-color: #00a0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leftPanel .userinfo img {
  position: relative;
  top: -20px;
  width: 70px;
  border: none;
  border-radius: 50%;
}

.leftPanel .userinfo h3 {
  font-size: 1rem;
}

.leftPanel .userinfo p {
  color: #636363;
  font-size: 0.85rem;
  font-weight: 200;
}

.leftPanel .more {
  margin-top: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #636363;
  font-size: 0.85rem;
}

.leftPanel .more:hover {
  text-decoration: underline;
}

.leftPanel .leftPanelItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5d5d5;
}

.leftPanel .leftPanelItems .leftPanelLinks {
  padding: 0 17px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
}

.leftPanel .leftPanelItems .leftPanelLinks .leftPanelIcon {
  margin-right: 10px;
}

.leftPanel .leftPanelItems .leftPanelLinks .bellIcon {
  color: #e2b216;
}

.leftPanel .leftPanelItems .leftPanelLinks .userIcon {
  color: #7c9ee7;
}

.leftPanel .leftPanelItems .leftPanelLinks .exploreIcon {
  color: #235b33;
}

.leftPanel .leftPanelItems .leftPanelLinks .eventsIcon {
  color: #c15a5a;
}

.leftPanel .leftPanelItems .leftPanelLinks .saveIcon {
  color: #40a25b;
}

.leftPanel .leftPanelItems .leftPanelLinks:hover {
  text-decoration: underline;
}

.leftPanel .leftPanelItems button {
  position: absolute;
  bottom: 165px;
  left: 230px;
  background-color: #00a0f0;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
/*# sourceMappingURL=LeftPanel.css.map */